<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	
	<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}restapi.log}" />
	<property name="ROOT_LOGLEVEL" value="${logging.level.root:-ERROR}" />
	<property name="PACAKGE_LOGLEVEL" value="${logging.level.application:-INFO}" />
	
	<!-- dev logging profile -->
	<springProfile name="dev">
		<appender name="ROLLING-FILE"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<encoder>
				<pattern>${FILE_LOG_PATTERN}</pattern>
			</encoder>
			<file>${LOG_FILE}</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
			</rollingPolicy>
		</appender>

		<!-- Package level logging -->
		<logger name="com.raquibul.bank.transfer.rest" level="${APP_LOGLEVEL}"
			additivity="false">
			<appender-ref ref="ROLLING-FILE" />
		</logger>

		<root level="${ROOT_LOGLEVEL}">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="ROLLING-FILE" />
		</root>

	</springProfile>

	<!-- prod logging profile -->
	<springProfile name="prod">
		<appender name="ROLLING-FILE"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<encoder>
				<pattern>${FILE_LOG_PATTERN}</pattern>
			</encoder>
			<file>${LOG_FILE}</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
				<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<maxFileSize>10MB</maxFileSize>
				</timeBasedFileNamingAndTriggeringPolicy>
			</rollingPolicy>

			<triggeringPolicy
				class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
				<MaxFileSize>10MB</MaxFileSize>
			</triggeringPolicy>

		</appender>

		<!-- Package level logging -->
		<logger name="com.raquibul.bank.transfer.rest" level="${PACKAGE_LOGLEVEL}"
			additivity="false">
			<appender-ref ref="ROLLING-FILE" />
		</logger>

		<root level="${ROOT_LOGLEVEL}">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="ROLLING-FILE" />
		</root>
	</springProfile>

</configuration>